[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "discord-py>=2.6.4",
    "openai>=2.13.0",
    "psycopg2>=2.9.9",
    "python-dotenv>=1.2.1",
]
